{% extends "base.html"%}
{% block content %}



{% if user.is_authenticated %}
<div>Orders... </div>
<table class="table table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Cliente</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Dirección</th>
      <th scope="col">Estado de Pago</th>
      <th scope="col">Fecha de Entrega</th>
      <th scope="col">Estado de Entrega</th>
    </tr>
  </thead>
  <tbody>
    
      {%if orders%}
        {% for order in orders %}
        <tr>  
          <td>{{order.id}}</td>
          <td>{{order.customer_name}}</td> 
          <td>{{order.phone}}</td>
          <td>{{order.address}}</td>
          <td>{{order.payment_status}}</td>
          <td>{{order.order_delivery_date}}</td>
          <td>{{order.delivery_status}}</td>
        </tr>
        {% endfor %}
      {%endif%}
  
  </tbody>
</table>
  


{% else %}
     
<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br/>
    <form action="{% url 'home'%}" method="POST">
        {% csrf_token %}
        <form>
            <div class="mb-3">
              <input type="text" class="form-control" aria-describedby="emailHelp" name="username" placeholder="First Name" required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
    </form>

  </div>

{% endif %}
{% endblock %}